@charset "utf-8";
html {
font-size:100%;
}
img, object, embed, video {
max-width: 100%;
}
.ie6 img {
width:100%;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
html {
scrollbar-width: none;
}
}
body::-webkit-scrollbar {
width: 0px;
background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

/* Mobile Layout: 609px and below. */

/* Responsive flex one column-layout instead of two-column layout */
.flex-container {
flex-direction: column;
display: flex;
/*Don't change padding below to margin.
Affects Polly Klaas Lead*/
padding:8px;
gap:8px;
border:1px solid #555;
border-radius:12px;
margin:auto;
}
.title {
padding:0px 0px 5px;
}
.reichheader {
display:flex;
margin: 3px 0px 9px;
justify-content:space-between;
align-items:center;
}
.reichcftitle {
font-family:TrajanPro3-Regular;
color:#EFEFEF;
font-size:1.4rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitle {
font-family:Montserrat-ThinItalic;
font-size:0.8rem;
text-align:center;
margin:-6px auto 0px;
}
.reichheaderfamily {
display:flex;
margin: 0px 0px 0px;
justify-content:space-between;
align-items:center;
}
.reichcftitlefamily {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:1.9rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitlefamily {
font-family:Montserrat-ThinItalic;
font-size:0.8rem;
text-align:center;
margin:-3px auto 0px;
}
.reichfooterimg {
display:block;
max-width:170px;
margin:35px auto 0px;
}
.footertitle {
font-family:TrajanPro3-Regular;
font-size:1.4rem;
text-align:center;
margin-bottom:-4px;
}
.footertitlefamily {
font-family:ITCEDSCR;
font-size:2.0rem;
text-align:center;
margin-bottom:-4px;
}
.footeremail {
font-family:Montserrat-ThinItalic;
font-size:0.95rem;
font-weight:bold;
text-align:center;
margin:4px auto auto;
}
.footercopyright {
font-family:Montserrat-ThinItalic;
font-size:0.85rem;
text-align:center;
margin:8px auto auto;
}
footer {
margin-top:auto;
margin-bottom:26px;
}
.bottomhr {
margin:auto auto auto;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.summary {
font-size:0.92rem;
line-height:1.6;
margin:20px auto 30px;
text-align:justify;
display:block;
border:none;
padding:15px 0px 15px;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.headings {
font-family:Cinzel-Regular;
font-size:22px;
text-align:center;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:6px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:6px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 6px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 6px;
}
.border-radius-bottom-right {
border-radius:0px 0px 6px 0px;
}
.floralpagedivider {
max-width:160px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:20px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:15px;
margin-top:-4px;
}
.vivaldi {
font-family:VIVALDII;
font-size:19px;
margin-top:-4px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:36px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 16px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 17px;
line-height:1.5;
}
.Montserrat-ExtraLightItalicJonBenetBday {
font-family:Montserrat-ExtraLightItalic;
font-size: 17px;
line-height:1.5;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:15px;
margin:-4px auto 0px;
padding:8px;
}
.vivaldioutlined {
font-family:VIVALDII;
font-size:19px;
margin:-4px auto 0px;
padding:8px;
}
.content {
display: block;
font-size:1.09rem;
padding: 10px;
}

<--footer element must be set
to margin-stop:auto -->

.footeralwaysbottom {
min-height: 100vh;
display:flex;
flex-direction:column;
margin-bottom:10px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:10px 10px 10px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:10px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
padding:10px;
margin:10px 10px 10px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:10px;
}
.articlehr {
display:none;
}
.titlelines {
display:block;
max-width:900px;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:0px auto 10px;
}
.titlecorners {
max-width:60px;
margin:-10px 0px 0px;
opacity:0.8;
}
.tableofcontents {
padding:0px;
}
.comptabvisible {
display:none;
}
.phonevisible {
display:block;
}
.heading {
font-size:25px;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:1.15rem;
} 
.headline {
font-size:1rem;
text-align:center;
margin:auto;
}
.minimalistborder {
border:1px solid #555;
outline:0px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:10px 10px 5px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:12px auto 9px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
font-size:0.85rem;
text-align:justify;
line-height:1.6;
padding-top:10px;
margin-bottom:20px;
color:white;
}
.figcaptionborder {
border: 1px solid #555;
padding:8px;
border-radius:12px;
margin-top:12px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.serafina {
display:block;
margin-left: auto;
margin-right: auto;
}
.serafinafacade {
margin-left: auto;
margin-right: auto;
}
.alps {
margin-left: auto;
margin-right: auto;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}
/*Anchors*/
# {
scroll-margin-top:10px;
}
# {
scroll-margin-top:10px;
}

/* Tablet Layout: 701px to 835px - Ipad Pro 11-inch down to
600px wide Kindle Fires and Samsung Galaxy Tab 2. These are 600px
wide but I take it to 701 to be on the safe side. Most of my images
are 700px max so stop here.
Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 701px) {

.title {
display:block;
padding:0px 0px 5px;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.floralpagedivider {
max-width:200px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:23px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:23px;
margin-top:-8px;
}
.vivaldi {
font-family:VIVALDII;
font-size:30px;
margin-top:-8px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:42px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 17px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 20px;
line-height:1.5;
}
.Montserrat-ExtraLightItalicJonBenetBday {
font-family:Montserrat-ExtraLightItalic;
font-size: 14px;
line-height:1.5;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:15px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.vivaldioutlined {
font-family:VIVALDII;
font-size:19px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.content {
display: block;
font-size:1.09rem;
padding: 15px;
}
.footeralwaysbottom {
min-height: 100vh;
display:flex;
flex-direction:column;
margin-bottom:15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
padding:15px;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:800px;
}
.articlehr {
display:none;
}
.titlelines {
display:inline-block;
max-width:900px;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:0px auto 15px;
}
.titlecorners {
max-width:75px;
margin:-15px 0px 0px;
opacity:0.8;
}
.tableofcontents {
padding:6px;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:1.3rem;
} 
.headline {
font-size:1.09rem;
text-align:center;
margin:-5px auto auto;
}
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:12px 12px 12px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:12px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
font-size: 0.95rem;
text-align:justify;
line-height:1.6;
padding-top:10px;
margin-bottom:5px;
color:white;
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.reichheader {
display:flex;
margin: 3px 0px 12px;
justify-content:space-between;
align-items:center;
}
.reichcftitle {
font-family:TrajanPro3-Regular;
color:#EFEFEF;
font-size:1.8rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitle {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
text-align:center;
margin:-6px auto 0px;
}
.reichheaderfamily {
display:flex;
margin: 0px 0px 0px;
justify-content:space-between;
align-items:center;
}
.reichcftitlefamily {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:2.5rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitlefamily {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
text-align:center;
margin:-3px auto 0px;
}
.reichfooterimg {
display:block;
max-width:180px;
margin:35px auto 0px;
}
.footertitle {
font-family:TrajanPro3-Regular;
font-size:1.7rem;
text-align:center;
margin-bottom:-4px;
}
.footertitlefamily {
font-family:ITCEDSCR;
font-size:2.2rem;
text-align:center;
margin-bottom:-4px;
}
.footeremail {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
font-weight:bold;
text-align:center;
margin:4px auto auto;
}
.footercopyright {
font-family:Montserrat-ThinItalic;
font-size:0.90rem;
text-align:center;
margin:8px auto auto;
}
footer {
margin-top:auto;
margin-bottom:26px;
}
.bottomhr {
margin:auto auto auto;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.summary {
font-size:1.0rem;
margin:20px auto 30px;
text-align:justify;
line-height:2.0;
padding:15px 0px 15px;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.serafina {
max-width: 800px;
display:block;
margin-right:auto;
margin-left:auto;
}
.serafinafacade {
max-width:800px;
margin:0px auto 0px;
}
.alps {
max-width: 500px;
float:left;
margin-right:15px;
}
.mySlides {
max-width:100%;
max-height:100%;
padding-top:0px;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
/*Anchors*/
# {
scroll-margin-top:26px;
}
# {
scroll-margin-top:26px;
}
}

/* 12.9 inch Ipad 1024x1366 Custom. This is just for 12-inch Ipad layouts holding
rotated mobile phones up to 1000px long into account. Inherits styles from: 
Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1001px) {

.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
padding:15px;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:800px;
}
.articlehr {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.serafina {
max-width: 650px;
float:right;
margin-left:15px;
}
.alps {
max-width:600px;
float:left;
margin-right:15px;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:1.1rem;
}
}

/* Desktop Layout: 1025px to a max of 1366px - Everything above Ipad Pro 11-inch. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {

.title {
display:block;
padding:0px 0px 5px;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.floralpagedivider {
max-width:230px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:23px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:23px;
margin-top:-8px;
}
.vivaldi {
font-family:VIVALDII;
font-size:30px;
margin-top:-8px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:42px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 17px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 20px;
line-height:1.5;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:16px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.content {
display:block;
font-size:1.09rem;
padding: 15px;
}
.footeralwaysbottom {
min-height: 100vh;
display:flex;
flex-direction:column;
margin-bottom:15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:0px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
padding:15px;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:800px;
}
.articlehr {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.titlelines {
display:inline-block;
max-width:900px;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:0px auto 15px;
}
.titlecorners {
max-width:85px;
margin:-15px 0px 0px;
opacity:0.8;
}
.tableofcontents {
padding: 15px;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:1.3rem;
} 
/*maxwidth changed for
each photo inline*/
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:15px 15px 15px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:15px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
text-align:justify;
font-size: 0.95rem;
line-height:1.6;
padding-top:10px;
margin-bottom:5px;
color:white;	
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.reichheader {
display:flex;
margin: 3px 0px 12px;
justify-content:space-between;
align-items:center;
}
.reichcftitle {
font-family:TrajanPro3-Regular;
color:#EFEFEF;
font-size:1.8rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitle {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
text-align:center;
margin:-6px auto 0px;
}
.reichheaderfamily {
display:flex;
margin:0px 0px 0px;
justify-content:space-between;
align-items:center;
}
.reichcftitlefamily {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:2.6rem;
text-align:center;
margin:0px auto 0px;
}
.reichcfsubtitlefamily {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
text-align:center;
margin:-3px auto 0px;
}
.reichfooterimg {
display:block;
max-width:180px;
margin:35px auto 0px;
}
.footertitle {
font-family:TrajanPro3-Regular;
font-size:1.7rem;
text-align:center;
margin-bottom:-4px;
}
.footertitlefamily {
font-family:ITCEDSCR;
font-size:2.2rem;
text-align:center;
margin-bottom:-4px;
}
.footeremail {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
font-weight:bold;
text-align:center;
margin:4px auto auto;
}
.footercopyright {
font-family:Montserrat-ThinItalic;
font-size:0.90rem;
text-align:center;
margin:8px auto auto;
}
footer {
margin-top:auto;
margin-bottom:26px;
}
.bottomhr {
clear:both;
margin:30px auto auto;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.summary {
margin:20px auto 30px;
text-align:justify;
line-height:2.0;
padding:15px 0px 15px;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.serafina {
max-width: 700px;
float:right;
margin-left:15px;
}
.serafinafacade {
max-width:800px;
margin:0px auto 0px;
}
.alps {
max-width:600px;
float:left;
margin-right:15px;
}
.mySlides {
max-width: 100%;
max-height: 100%;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
/*Anchors*/
# {
scroll-margin-top:26px;
}
# {
scroll-margin-top:26px;
}
}

/* Desktop Layout: 1367px and above. This is here to place the white outline around the content with 15px margin top and bottom for screens above 1366px. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1367px) {
.border {
min-height:100vh;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
max-width:1333px;
}
.content {
display:block;
font-size:1.09rem;
padding: 15px;
}
}
