@charset "utf-8";
html {
font-size:100%;
}
img, object, embed, video {
max-width: 100%;
}
.ie6 img {
width:100%;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
html {
scrollbar-width: none;
}
}
body::-webkit-scrollbar {
width: 0px;
background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

/* Background color is a lighter shade of CMYK Peach #FFE4B8 done in Photoshop */
body {
background-color:#ffedd0;
color:#000000;
text-decoration:none;
}

/* Mobile Layout: 609px and below. */


.leftphoto {
margin-left:auto;
margin-right:auto;
}
.rightphoto {
margin-left:auto;
margin-right:auto;
}
.desktopdisplay {
display:none;
}
.twelveninetabletdisplay {
display:none;
}
.tabletdisplay {
display:none;
}
.mobiledisplay {
display:block;
}
.sectionheadings {
font-family:TrajanPro3-Regular;
font-size:0.85rem;
text-align:center;
line-height:1;
}
.articleheadings {
font-size:0.9rem;
text-align:center;
font-weight:bold;
}
.articlesubheadings {
font-size:0.95rem;
text-align:center;
margin:-15px auto -5px;
}
.whatsoeverborder {
border:1px solid #555;
border-radius:0px;
margin:0px auto 0px;
padding:0px 0px 0px;
border-width:0px 0px 1px 0px;
}
.whatsoevercaption {
font-family:Montserrat-LightItalic;
font-size: 0.9rem;
margin:10px auto 10px;
line-height:1.8;
text-align:justify;
}
.sources {
display:flex;
flex-direction:column;
font-size: 0.9rem;
margin:26px auto 20px;
max-width:600px;
text-align:center;
justify-content:space-around;
}
.header {
display:flex;
margin: 5px 0px 5px;
justify-content:space-between;
align-items:center;
line-height:1;
}
.footerbackgroundimage {
width:100%;
margin:auto;
padding-top:20px;
padding-bottom:20px;
background-image:url("images/clouds.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
box-shadow: 0 0 8px 8px #FFEDD0 inset;
}
.titlecorners {
display:none;
max-width:60px;
margin:-5px -5px 5px;
opacity:1.0;
}
.title {
font-family:ITCEDSCR;
font-size:2.1rem;
text-align:center;
margin:-2px auto 0px;
}
.subtitle {
font-family:Montserrat-LightItalic;
font-size:0.80rem;
text-align:center;
margin:2px auto 8px;
}
.summary {
line-height:1.6;
margin:0px auto 0px;
text-align:justify;
display:block;
border:none;
margin:auto;
}
.footerimage {
max-width:90px;
display:block;
margin:auto;
}
.footertitle {
font-family:ITCEDSCR;
font-size:2.1rem;
text-align:center;
margin:auto;
}
.footerresearch {
font-family:Montserrat-LightItalic;
font-size:0.86rem;
font-weight:bold;
text-align:center;
margin:-4px auto 6px;
}
.footeremail {
font-family:Montserrat-LightItalic;
font-size:0.86rem;
font-weight:bold;
text-align:center;
margin:-4px auto auto;
}
.footercopyright {
font-family:Montserrat-LightItalic;
font-size:0.80rem;
text-align:center;
margin:4px auto auto;
}
footer {
margin-top:20px;
margin-bottom:30px;
}
.headings {
font-family:Cinzel-Regular;
font-size:22px;
text-align:center;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:6px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:6px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 6px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 6px;
}
.border-radius-bottom-right {
border-radius:0px 0px 6px 0px;
}
.floralpagedivider {
max-width:160px;
display:block;
margin-left:auto;
margin-right:auto;
}
.content {
display: block;
padding: 10px;
}
.bodytypography {
font-family:OpenSans-Regular;
font-size:1.0rem;
line-height:1.9;
}

<--footer element must be set
to margin-stop:auto -->

.footeralwaysbottom {
min-height: 100vh;
display:flex;
flex-direction:column;
margin-bottom:10px;
}
.border {
min-height: 97.3vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:10px;
}
.borderfacade {
min-height: 97.4vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:0px;
}
.borderresearch {
min-height: 97.4vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:0px;
}
.articlehr {
display:none;
}
.articlehralways {
margin:10px auto 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
}
.footerhr {
margin:0px auto 0px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlecopyright {
text-align:center;
font-family:Montserrat-LightItalic;
font-size:0.90rem;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:20px auto 20px;
}
/*wrap paragraph in div with display:flex in page html*/
.titlelinesparagraphs {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:auto auto auto;
}
.titlelinesheadings {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:9px 0px 3px 0px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:26px auto 26px;
}
.photolinktitle {
font-family:ITCEDSCR;
font-size: 1.95rem;
text-align:center;
margin:0px auto 0px;
line-height:1.0;
}
.photolinksubtitle {
font-family:Montserrat-LightItalic;
font-size: 0.80rem;
text-align:center;
margin:3px auto 0px;
line-height:1.0;
}
.comptabvisible {
display:none;
}
.phonevisible {
display:block;
}
.heading {
font-size:25px;
}
.toptitle {
font-family:TrajanPro3-Regular;
font-size:1.0rem;
text-align:center;
margin:20px auto 0px;
}
.toptitlefacade {
font-family:Cinzel-Regular;
font-size:1.0rem;
text-align:center;
margin:20px auto 0px;
} 
.headline {
font-size:1rem;
text-align:center;
margin:auto;
}
.minimalistborder {
border:1px solid #555;
outline:0px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:10px 10px 5px;
}
.minimalistcaption {
font-family:Montserrat-LightItalic;
font-size: 16px;
margin:12px auto 9px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
.photocaptiontop {
display:inline-block;
font-family:OpenSans-Regular;
font-size:0.85rem;
border:1px solid #555;
border-width:1px 0px 1px 0px;
margin:16px auto 14px;
padding:6px 0px 6px;
line-height:2.0;
}
figcaption {
font-family:Montserrat-LightItalic;
font-size:0.85rem;
text-align:justify;
line-height:1.6;
padding-top:10px;
margin-bottom:15px;
}
.figcaptionborder {
border: 1px solid #555;
padding:8px;
border-radius:12px;
margin-top:12px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.mariaanthonykatsaris {
margin-left:auto;
margin-right:auto;
}
.stevenkatsaris {
margin-left:auto;
margin-right:auto;
}
.mariakatsaristeen {
margin-left:auto;
margin-right:auto;
}
.johnvictorstoen {
margin-left:auto;
margin-right:auto;
}
.eugenereed {
margin-left: auto;
margin-right: auto;
}
.eugenereedright {
margin-left: auto;
margin-right: auto;
}
.sylviaralyareinsch {
margin-left: auto;
margin-right: auto;
}
.newspaperquote {
font-family:Montserrat-LightItalic;
font-size:1.0rem;
line-height:1.6;
margin:auto 26px auto;
}
.pollyklaasreed {
margin-left: auto;
margin-right: auto;
}
.pollyklaas {
margin-left: auto;
margin-right: auto;
}
.pkxmas {
margin-left: auto;
margin-right: auto;
}
.holocaustreed {
margin-left: auto;
margin-right: auto;
}
.georgiamosesyounger {
margin-left: auto;
margin-right: auto;
}
.georgiamoses {
margin-left: auto;
margin-right: auto;
}
.georgiamosesyounger {
margin-left: auto;
margin-right: auto;
}
.holybible {
margin-left: auto;
margin-right: auto;
}
.trinityseal {
max-width:450px;
margin-left: auto;
margin-right: auto;
}
.trinitysealpage {
margin-left: auto;
margin-right: auto;
}
.momdaughtertrinity {
margin-left: auto;
margin-right: auto;
}
.motherdaughter {
margin-left: auto;
margin-right: auto;
}
.motherdaughterfall {
margin-left: auto;
margin-right: auto;
}
.motherdaughterbedtime {
margin-right:auto;
margin-left:auto;
}
.motherdaughtergarden {
margin-right:auto;
margin-left:auto;
}
.motherson {
margin-left: auto;
margin-right: auto;
}
.littlegirlspastelpink {
margin-left: auto;
margin-right: auto;
}
.girlfirstcommunion {
margin-left: auto;
margin-right: auto;
}
.youngwomanprayer {
margin-left: auto;
margin-right: auto;
}
.motherdaughterfield {
margin-left: auto;
margin-right: auto;
}
.motherdaughterfacade {
margin-left: auto;
margin-right: auto;
}
.alps {
margin-left: auto;
margin-right: auto;
}
.lauterbrunnen {
margin-left: auto;
margin-right: auto;
}
.londonhollandpark {
margin-left: auto;
margin-right: auto;
}
.teengirl {
margin-left: auto;
margin-right: auto;
}
.teenboy {
margin-left: auto;
margin-right: auto;
}
.teengirlschool {
margin-left: auto;
margin-right: auto;
}
/*Anchors*/
#religion {
scroll-margin-top:15px;
}
#holywritings {
scroll-margin-top:15px;
}
#prayer {
scroll-margin-top:15px;
}
#enemies {
scroll-margin-top:15px;
}
#tithing {
scroll-margin-top:15px;
}
#chapters {
scroll-margin-top:15px;
}
#government {
scroll-margin-top:15px;
}
#political {
scroll-margin-top:15px;
}
#raisingchildren {
scroll-margin-top:15px;
}
#comingofage {
scroll-margin-top:15px;
}
#vowofpurity {
scroll-margin-top:15px;
}
#humansexuality {
scroll-margin-top:15px;
}
#teensleavehome {
scroll-margin-top:15px;
}
#temple {
scroll-margin-top:15px;
}
#psychiatry {
scroll-margin-top:15px;
}
#genealogy {
scroll-margin-top:15px;
}
/* Tablet Layout 701px to 835px - Ipad Pro 11-inch
down to 600px wide Kindle Fires and Samsung Galaxy Tab 2. These are 600px
wide but I take it to 701 to be on the safe side. Most of my images
are 700px max so stop here.
Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 701px) {

.leftphoto {
max-width:500px;
float:left;
margin-right:15px;
}
.rightphoto {
max-width:500px;
float:right;
margin-left:15px;
}
.desktopdisplay {
display:none;
}
.twelveninetabletdisplay {
display:none;
}
.tabletdisplay {
display:block;
}
.mobiledisplay {
display:none;
}
.sectionheadings {
font-family:TrajanPro3-Regular;
font-size:0.9rem;
text-align:center;
line-height:1;
}
.articleheadings {
font-size:1.0rem;
text-align:center;
font-weight:bold;
}
.articlesubheadings {
font-size:0.95rem;
text-align:center;
margin:-15px auto -5px;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.floralpagedivider {
max-width:200px;
display:block;
margin-left:auto;
margin-right:auto;
}
.content {
display: block;
padding: 15px;
}
.bodytypography {
font-family:OpenSans-Regular;
font-size:1.09rem;
line-height:1.6;
}
.footeralwaysbottom {
min-height: 100vh;
display:flex;
flex-direction:column;
margin-bottom:15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:12px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:600px;
}
.borderresearch {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:0px auto 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:12px;
}
.articlehr {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlehralways {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.footerhr {
margin:0px auto 0px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlecopyright {
text-align:center;
font-family:Montserrat-LightItalic;
font-size:0.95rem;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:20px auto 20px;
}
/*wrap paragraph in div with display:flex*/
.titlelinesparagraphs {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:auto auto auto;
}
.titlelinesheadings {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:9px 0px 3px 0px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:15px auto 13px;
}
.photolinktitle {
font-family:ITCEDSCR;
font-size: 2.1rem;
text-align:center;
margin:0px auto 0px;
line-height:1.0;
}
.photolinksubtitle {
font-family:Montserrat-LightItalic;
font-size: 1.0rem;
text-align:center;
margin:3px auto 0px;
line-height:1.0;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.toptitle {
font-family:TrajanPro3-Regular;
font-size:1.1rem;
text-align:center;
margin:20px auto 0px;
} 
.headline {
font-size:1.09rem;
text-align:center;
margin:-5px auto auto;
}
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:12px 12px 12px;
}
.minimalistcaption {
font-family:Montserrat-LightItalic;
font-size: 16px;
margin:12px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
.photocaptiontop {
display:inline-block;
font-family:OpenSans-Regular;
font-size: 0.95rem;
border:1px solid #555;
border-width:1px 0px 1px 0px;
margin:15px auto 4px;
padding:5px 0px 5px;
line-height:2.0;
}
figcaption {
font-family:Montserrat-LightItalic;
font-size: 0.95rem;
text-align:justify;
line-height:1.6;
padding-top:10px;
margin-bottom:15px;
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.summary {
max-width:1000px;
margin:26px auto 15px;
text-align:justify;
line-height:2.0;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.mariaanthonykatsaris {
max-width:850px;
margin-left:auto;
margin-right:auto;
}
.mariakatsaristeen {
max-width:500px;
float:right;
margin-left:15px;
}
.johnvictorstoen {
max-width:500px;
float:left;
margin-right:15px;
}
.stevenkatsaris {
max-width: 850px;
margin-left:auto;
margin-right:auto;
border:0px solid #555;
border-radius:0px;
}
.eugenereed {
max-width: 450px;
float:left;
margin-right:15px;
}
.eugenereedright {
max-width: 450px;
float:right;
margin-left:15px;
}
.sylviaralyareinsch {
max-width: 450px;
float:left;
margin-right:15px;
}
.newspaperquote {
font-family:Montserrat-LightItalic;
font-size:1.0rem;
line-height:1.6;
margin:auto 26px auto;
}
.pollyklaasreed {
max-width: 450px;
float:right;
margin-left:15px;
}
.pollyklaas {
max-width: 850px;
margin-left:auto;
margin-right:auto;
}
.pkxmas {
float:left;
max-width:500px;
margin-right:15px;
}
.holocaustreed {
max-width: 450px;
float:left;
margin-right:15px;
}
.georgiamoses {
max-width: 450px;
float:left;
margin-right:15px;
}
.georgiamosesyounger {
max-width: 450px;
float:right;
margin-left:15px;
}
.deathtapeaudio {
float:left;
margin-right:15px;
}
/*maxwidth changed for
each photo inline*/
.whatsoeverborder {
border:1px solid #555;
border-radius:12px;
margin:26px auto 80px;
padding:0px 15px 0px;
}
.whatsoevercaption {
font-family:Montserrat-LightItalic;
font-size: 1.0rem;
margin:10px auto 10px;
line-height:1.8;
text-align:justify;
}
.sources {
display:flex;
flex-direction:column;
font-size: 1.0rem;
margin:0px auto 26px;
max-width:600px;
text-align:center;
justify-content:space-around;
}
.header {
display:flex;
margin: 0px 0px 3px;
justify-content:space-between;
align-items:center;
line-height:1;
}
.footerbackgroundimage {
width:100%;
margin:auto;
padding-top:20px;
padding-bottom:20px;
background-image:url("images/clouds.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
box-shadow: 0 0 8px 8px #FFEDD0 inset;
}
.titlecorners {
display:block;
max-width:130px;
margin:0px 26px 0px;
opacity:1.0;
}
.title {
font-family:ITCEDSCR;
font-size:2.5rem;
text-align:center;
margin:-6px auto 0px;
}
.subtitle {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
text-align:center;
margin:2px auto 8px;
}
.footerimage {
max-width:100px;
display:block;
margin:auto;
}
.footertitle {
font-family:ITCEDSCR;
font-size:2.4rem;
text-align:center;
margin:auto;
}
.footerresearch {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
font-weight:bold;
text-align:center;
margin:-4px auto 6px;
}
.footeremail {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
font-weight:bold;
text-align:center;
margin:-4px auto auto;
}
.footercopyright {
font-family:Montserrat-LightItalic;
font-size:0.90rem;
text-align:center;
margin:4px auto auto;
}
footer {
margin-top:10px;
margin-bottom:30px;
}
.holybible {
max-width:450px;
float:left;
margin-right:15px;
}
.trinityseal {
max-width:450px;
float:right;
margin-left:15px;
}
.trinitysealpage {
max-width:500px;
margin-left: auto;
margin-right: auto;
}
.momdaughtertrinity {
max-width:450px;
float:right;
margin-left:15px;
}
.motherdaughter {
margin-right:auto;
margin-left:auto;
}
.motherdaughterfall {
margin-right:auto;
margin-left:auto;
}
.motherdaughterbedtime {
margin-right:auto;
margin-left:auto;
}
.motherdaughtergarden {
margin-right:auto;
margin-left:auto;
}
.motherson {
margin-right:auto;
margin-left:auto;
}
.littlegirlspastelpink {
margin-left: auto;
margin-right: auto;
}
.girlfirstcommunion {
margin-left: auto;
margin-right: auto;
}
.youngwomanprayer {
margin-left: auto;
margin-right: auto;
}
.motherdaughterfield {
max-width: 850px;
margin-right:auto;
margin-left:auto;
}
.motherdaughterfacade {
max-width:850px;
margin:0px auto 0px;
}
.alps {
max-width:500px;
float:right;
margin-left:15px;
}
.lauterbrunnen {
margin-left: auto;
margin-right: auto;
}
.londonhollandpark {
margin-left: auto;
margin-right: auto;
}
.teengirl {
margin-left: auto;
margin-right: auto;
}
.teenboy {
margin-left: auto;
margin-right: auto;
}
.teengirlschool {
margin-left: auto;
margin-right: auto;
}
/*Anchors*/
#religion {
scroll-margin-top:15px;
}
#holywritings {
scroll-margin-top:15px;
}
#prayer {
scroll-margin-top:15px;
}
#enemies {
scroll-margin-top:15px;
}
#tithing {
scroll-margin-top:15px;
}
#chapters {
scroll-margin-top:15px;
}
#government {
scroll-margin-top:15px;
}
#political {
scroll-margin-top:15px;
}
#raisingchildren {
scroll-margin-top:15px;
}
#comingofage {
scroll-margin-top:15px;
}
#vowofpurity {
scroll-margin-top:15px;
}
#humansexuality {
scroll-margin-top:15px;
}
#teensleavehome {
scroll-margin-top:15px;
}
#temple {
scroll-margin-top:15px;
}
#psychiatry {
scroll-margin-top:15px;
}
#genealogy {
scroll-margin-top:15px;
}
}

/* For centering content while holding horizontally rotated mobile phones up to 1000px long into account.*/
@media only screen and (min-width: 900px) {

.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:600px;
}
.borderresearch {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:1000px;
}
}

/* 12.9 inch Ipad 1024x1366 Custom. This is just for 12-inch Ipad layouts holding
rotated mobile phones up to 1000px long into account. Inherits styles from: 
Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1001px) {

.leftphoto {
max-width:700px;
float:left;
margin-right:15px;
}
.rightphoto {
max-width:650px;
float:right;
margin-left:15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:12px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:600px;
}
.borderresearch {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:1000px;
}
.articlehr {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlehralways {
display:block;
}
.footerhr {
margin:0px auto 0px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.desktopdisplay {
display:none;
}
.twelveninetabletdisplay {
display:block;
}
.tabletdisplay {
display:none;
}
.mobiledisplay {
display:none;
}
.holybible {
max-width:450px;
float:left;
margin-right:15px;
}
.trinityseal {
max-width:500px;
float:right;
margin-left:15px;
}
.trinitysealpage {
max-width:500px;
margin-left: auto;
margin-right: auto;
}
.momdaughtertrinity {
max-width:550px;
float:right;
margin-left:15px;
}
.motherdaughter {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughtergarden {
max-width:700px;
float:right;
margin-left:15px;
}
.motherdaughterfall {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughterbedtime {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughtergarden {
max-width:750px;
float:right;
margin-left:15px;
}
.motherson {
max-width:700px;
float:right;
margin-left:15px;
}
.littlegirlspastelpink {
max-width:700px;
float:right;
margin-left:15px;
}
.girlfirstcommunion {
max-width:700px;
float:right;
margin-left:15px;
}
.youngwomanprayer {
max-width:700px;
float:right;
margin-left:15px;
}
.motherdaughterfield {
max-width:700px;
float:left;
margin-right:15px;
}
.alps {
max-width:650px;
float:right;
margin-left:15px;
}
.alps {
max-width:700px;
float:right;
margin-left:15px;
}
.lauterbrunnen {
max-width:700px;
float:left;
margin-right:15px;
}
.londonhollandpark {
max-width:700px;
float:left;
margin-right:15px;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.toptitle {
font-family:TrajanPro3-Regular;
font-size:1.1rem;
text-align:center;
margin:0px auto 0px;
}
.teengirl {
max-width:700px;
float:right;
margin-left:15px;
}
.teenboy {
max-width:700px;
float:left;
margin-right:15px;
}
.teengirlschool {
max-width:700px;
float:left;
margin-right:15px;
}
.mariaanthonykatsaris {
max-width:700px;
float:left;
margin-right:15px;
}
.whatsoevercaption {
font-family:Montserrat-LightItalic;
font-size: 1.0rem;
margin:10px auto 10px;
line-height:1.8;
text-align:justify;
}
.sources {
display:flex;
flex-direction:column;
font-size: 1.0rem;
margin:0px auto 26px;
max-width:600px;
text-align:center;
justify-content:space-around;
}
.stevenkatsaris {
max-width: 700px;
float:left;
margin-right:15px;
margin-top:5px;
margin-bottom:0px;
border:0px solid #555;
border-radius:0px;
display:block;
}
.sylviaralyareinsch {
max-width: 655px;
float:left;
margin-right:15px;
}
}

/* Desktop Layout: 1025px to a max of 1366px - Everything above Ipad Pro 11-inch. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {

.leftphoto {
max-width:800px;
float:left;
margin-right:15px;
}
.rightphoto {
max-width:800px;
float:right;
margin-left:15px;
}
.desktopdisplay {
display:block;
}
.twelveninetabletdisplay {
display:none;
}
.tabletdisplay {
display:none;
}
.mobiledisplay {
display:none;
}
.sectionheadings {
font-family:TrajanPro3-Regular;
font-size:0.9rem;
text-align:center;
line-height:1;
}
.articleheadings {
font-size:1.0rem;
text-align:center;
font-weight:bold;
}
.articlesubheadings {
font-size:0.95rem;
text-align:center;
margin:-15px auto -5px;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.floralpagedivider {
max-width:230px;
display:block;
margin-left:auto;
margin-right:auto;
}
.content {
display:block;
padding: 15px;
}
.bodytypography {
font-family:OpenSans-Regular;
font-size:1.09rem;
line-height:1.6;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:0px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:600px;
}
.borderresearch {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:1000px;
}
.articlehr {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlehralways {
display:block;
margin:0px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.footerhr {
margin:0px auto 0px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.articlecopyright {
text-align:center;
font-family:Montserrat-LightItalic;
font-size:0.95rem;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:20px auto 20px;
}
/*wrap paragraph in div with display:flex*/
.titlelinesparagraphs {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px 0px;
margin:auto auto auto;
}
.titlelinesheadings {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:9px 0px 3px 0px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:15px auto 13px;
}
.photolinktitle {
font-family:ITCEDSCR;
font-size: 2.4rem;
text-align:center;
margin:0px auto 0px;
line-height:1.0;
}
.photolinksubtitle {
font-family:Montserrat-LightItalic;
font-size: 1.0rem;
text-align:center;
margin:3px auto 0px;
line-height:1.0;
}
.toptitle {
font-family:TrajanPro3-Regular;
font-size:1.1rem;
text-align:center;
margin:0px auto 0px;
}
.headline {
font-size:1.2rem;
text-align:center;
margin:-5px auto auto;
}
/*maxwidth changed for
each photo inline*/
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:15px 15px 15px;
}
.minimalistcaption {
font-family:Montserrat-LightItalic;
font-size: 16px;
margin:15px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
.photocaptiontop {
display:inline-block;
font-family:OpenSans-Regular;
font-size: 0.95rem;
border:1px solid #555;
border-width:1px 0px 1px 0px;
margin:15px auto 4px;
padding:5px 0px 5px;
line-height:2.0;
}
figcaption {
font-family:Montserrat-LightItalic;
text-align:justify;
font-size: 0.95rem;
line-height:1.6;
padding-top:10px;
margin-bottom:10px;	
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaptionoverlay {
position: relative;
text-align: center;
color: white;
font-size:0.95rem;
}
.figcaptionbottomleft {
position: absolute;
bottom: 4px;
left: 8px;
}
.figcaptiontopleft {
position: absolute;
top: 4px;
left: 8px;
}
.figcaptiontopright {
position: absolute;
top: 4px;
right: 8px;
}
.figcaptionbottomright {
position: absolute;
bottom: 4px;
right: 8px;
}
.figcaptioncentered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.mariaanthonykatsaris {
max-width:850px;
float:left;
margin-right:15px;
}
.mariakatsaristeen {
max-width:600px;
float:right;
margin-left:15px;
}
.johnvictorstoen {
max-width:600px;
float:left;
margin-right:15px;
}
.stevenkatsaris {
max-width: 800px;
float:left;
margin-right:15px;
margin-top:5px;
margin-bottom:0px;
border:0px solid #555;
border-radius:0px;
display:block;
}
.eugenereed {
max-width: 650px;
float:left;
margin-right:15px;
}
.eugenereedright {
max-width: 650px;
float:right;
margin-left:15px;
}
.sylviaralyareinsch {
max-width: 655px;
float:left;
margin-right:15px;
}
.newspaperquote {
font-family:Montserrat-LightItalic;
font-size:1.0rem;
line-height:1.6;
margin:auto 26px auto;
}
.pollyklaasreed {
max-width: 650px;
float:right;
margin-left:15px;
}
.pollyklaas {
max-width:800px;
float:left;
margin-right:15px;
}
.pkxmas {
float:left;
max-width:800px;
margin-right:15px;
}
.holocaustreed {
max-width: 650px;
float:left;
margin-right:15px;
}
.georgiamoses {
max-width: 600px;
float:left;
margin-right:15px;
}
.georgiamosesyounger {
max-width: 500px;
float:right;
margin-left:15px;
}
.whatsoevercaption {
font-family:Montserrat-LightItalic;
font-size: 1.0rem;
margin:10px auto 10px;
line-height:1.8;
text-align:justify;
}
.sources {
display:flex;
flex-direction:column;
font-size: 1.0rem;
margin:0px auto 26px;
max-width:600px;
text-align:center;
justify-content:space-around;
}
.header {
display:flex;
margin:0px 0px 0px;
justify-content:space-between;
align-items:center;
line-height:1;
}
/*max-width goes here*/
.footerbackgroundimage {
width:100%;
margin:auto;
padding-top:26px;
padding-bottom:26px;
background-image:url("images/clouds.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
box-shadow: 0 0 8px 8px #FFEDD0 inset;
}
.titlecorners {
display:block;
max-width:180px;
margin:auto 15px auto;
opacity:1.0;
}
.title {
font-family:ITCEDSCR;
font-size:2.7rem;
text-align:center;
margin:-6px auto 0px;
}
.subtitle {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
text-align:center;
margin:2px auto 10px;
}
.footerimage {
max-width:100px;
display:block;
margin:auto;
}
.footertitle {
font-family:ITCEDSCR;
font-size:2.4rem;
text-align:center;
margin:auto;
}
.footerresearch {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
font-weight:bold;
text-align:center;
margin:-4px auto 6px;
}
.footeremail {
font-family:Montserrat-LightItalic;
font-size:0.95rem;
font-weight:bold;
text-align:center;
margin:-4px auto auto;
}
.footercopyright {
font-family:Montserrat-LightItalic;
font-size:0.90rem;
text-align:center;
margin:4px auto auto;
}
footer {
margin-top:10px;
margin-bottom:30px;
}
.summary {
max-width:1000px;
margin:26px auto 15px;
text-align:justify;
line-height:2.0;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.holybible {
max-width:450px;
float:left;
margin-right:15px;
}
.trinityseal {
max-width:500px;
float:right;
margin-left:15px;
}
.trinitysealpage {
max-width:500px;
margin-left: auto;
margin-right: auto;
}
.momdaughtertrinity {
max-width:600px;
float:right;
margin-left:15px;
}
.motherdaughter {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughterfall {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughterbedtime {
max-width:700px;
float:left;
margin-right:15px;
}
.motherdaughtergarden {
max-width:700px;
float:right;
margin-left:15px;
}
.motherson {
max-width:700px;
float:right;
margin-left:15px;
}
.littlegirlspastelpink {
max-width:700px;
float:right;
margin-left:15px;
}
.girlfirstcommunion {
max-width:700px;
float:right;
margin-left:15px;
}
.youngwomanprayer {
max-width:700px;
float:right;
margin-left:15px;
}
.motherdaughterfield {
max-width: 850px;
float:left;
margin-right:15px;
}
.motherdaughterfacade {
max-width:850px;
margin:0px auto 0px;
}
.alps {
max-width:650px;
float:right;
margin-left:15px;
}
.lauterbrunnen {
max-width:700px;
float:left;
margin-right:15px;
}
.londonhollandpark {
max-width:700px;
float:left;
margin-right:15px;
}
.teengirl {
max-width:700px;
float:right;
margin-left:15px;
}
.teenboy {
max-width:700px;
float:left;
margin-right:15px;
}
.teengirlschool {
max-width:700px;
float:left;
margin-right:15px;
}
/*Anchors*/
#religion {
scroll-margin-top:15px;
}
#holywritings {
scroll-margin-top:15px;
}
#prayer {
scroll-margin-top:15px;
}
#enemies {
scroll-margin-top:15px;
}
#tithing {
scroll-margin-top:15px;
}
#chapters {
scroll-margin-top:15px;
}
#government {
scroll-margin-top:15px;
}
#political {
scroll-margin-top:15px;
}
#raisingchildren {
scroll-margin-top:15px;
}
#comingofage {
scroll-margin-top:15px;
}
#vowofpurity {
scroll-margin-top:15px;
}
#humansexuality {
scroll-margin-top:15px;
}
#teensleavehome {
scroll-margin-top:15px;
}
#temple {
scroll-margin-top:15px;
}
#psychiatry {
scroll-margin-top:15px;
}
#genealogy {
scroll-margin-top:15px;
}
}

/* Desktop Layout: 1367px and above. This is here to place the white outline around the content with 15px margin top and bottom for screens above 1366px. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1367px) {

.leftphoto {
max-width:800px;
float:left;
margin-right:15px;
}
.rightphoto {
max-width:800px;
float:right;
margin-left:15px;
}
.border {
min-height:100vh;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
max-width:1333px;
}
.borderfacade {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:600px;
}
.borderresearch {
min-height: 100vh;
display:flex;
flex-direction:column;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:12px;
max-width:1000px;
}
.content {
display:block;
padding: 15px;
}
.bodytypography {
font-family:OpenSans-Regular;
font-size:1.09rem;
line-height:1.6;
}
}
