@charset "utf-8";
html {
font-size:100%;
}
img, object, embed, video {
max-width: 100%;
}
.ie6 img {
width:100%;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
html {
scrollbar-width: none;
 }
}
body::-webkit-scrollbar {
width: 0px;
background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}
.box {
  display: flow-root;
}
body {
background-color:#111;
font-family:OpenSans-Light;
color: #FFFFFF;
font-size:1.09rem;
}
.hrshadow {
border:none;
width: 100%;
height: 50px;
border-bottom: 1px solid #000;
box-shadow: 0px 20px 20px -20px #fff;
margin: -50px auto 30px; 
}
.returntop {
text-align: center;
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
}
.center {
clear: both;
display: block;
margin-right: auto;
margin-left: auto;
}
.video {
clear: both;
}
.videomargin {
margin-bottom: 22px;
}
.audiomargin {
margin-bottom: 12px;
}
/* VideoJS - show poster, show play button, hide bottom controls */
.video-js.vjs-ended .vjs-poster {
display: block;
}
.video-js.vjs-ended .vjs-control-bar {
display: none;
}
.video-js.vjs-ended .vjs-big-play-button {
display: block;
}
/* VideoJS - END */
.bold {
font-weight: bolder;
}
.headliner {
padding-top: 20px;
}
/*Text fade with Read More at bottom of fade*/
.textfade {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.textfade .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%;
  text-align: center; 
  margin: 0; padding: 30px 0; 

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, black);
}
blockquote.removequote:after {
    content: "";
}

blockquote.removequote:before {
    content: "";
}

/* Mobile Layout: 609px and below. */

/* Responsive flex one column-layout instead of two-column layout */
.flex-container {
flex-direction: column;
display: flex;
/*Don't change padding below to margin.
Affects Polly Klaas Lead*/
padding:8px;
gap:8px;
border:1px solid #555;
border-radius:12px;
margin:auto;
}
.title {
padding:0px 0px 5px;
}
.reichheader {
max-width:60px;
}
.starofdavidheaderleft {
max-width:30px;
padding-left:5px;
}
.starofdavidheaderright {
max-width:30px;
padding-right:5px;
}
.reichtitle {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:32px;
}
.reichsubtitle {
font-family:Montserrat-ThinItalic;
font-size:10.5px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:26px auto 26px;
}
.header {
text-align:center;
margin:0px auto 0px;
}
.headerhr {
margin:10px auto 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
}
.headerhralways {
margin:10px auto 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
}
.reichresearchheader {
display:flex;
margin: 0px 0px 0px;
justify-content:center;
align-items:center;
margin:5px auto 15px;
}
.reichresearchtitle {
font-family:ITCEDSCR;
font-size:1.9rem;
text-align:center;
margin:-4px auto 0px;
}
.reichresearchsubtitle {
font-family:Montserrat-ExtraLight;
font-size:0.85rem;
text-align:center;
margin:0px auto 0px;
}
footer {
margin-top:auto;
margin-bottom:40px;
}
.reichfooterimg {
max-width:130px;
margin:0px auto 6px;
}
.reichtitlefootertxt {
text-align:center;
font-family:ITCEDSCR;
font-size:1.9rem;
}
.reichsubtitlefootertxt {
text-align:center;
font-size:0.85rem;
margin-bottom:6px;
}
.reichemailfootertxt {
text-align:center;
font-size:0.86rem;
margin-bottom:6px;
}
.reichcopyrightfootertxt {
text-align:center;
font-size:0.85rem;
}
.summary {
line-height:1.6;
margin:0px auto 0px;
text-align:justify;
display:block;
border:none;
margin:auto;
}
.headings {
font-family:Cinzel-Regular;
font-size:22px;
text-align:center;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:6px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:6px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 6px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 6px;
}
.border-radius-bottom-right {
border-radius:0px 0px 6px 0px;
}
.scrolldivider {
max-width:100px;
display:block;
margin-left:auto;
margin-right:auto;
}
.floralpagedivider {
max-width:160px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:20px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:15px;
margin-top:-4px;
}
.vivaldi {
font-family:VIVALDII;
font-size:19px;
margin-top:-4px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:36px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 16px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 1.03rem;
line-height:1.6;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:15px;
margin:-4px auto 0px;
padding:8px;
}
.vivaldioutlined {
font-family:VIVALDII;
font-size:19px;
margin:-4px auto 0px;
padding:8px;
}
.content {
display: block;
font-size:1.09rem;
padding: 10px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:10px;
}
.tableofcontents {
padding:0px;
}
blockquote {
position: relative;
/* background: #ddd; */
}
blockquote:before {
position: absolute;
content: open-quote; 
font-size: 2.90em;
margin-left: -0.5em;
margin-top: -0.3em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#999;
}
blockquote:after {
position: absolute;
content: close-quote;
font-size: 2.90em;
bottom: 0;
right: 0;
margin-right: -0.5em;
margin-bottom: -0.83em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#999;
}
blockquote p {
display: inline;
}
.comptabvisible {
display:none;
}
.phonevisible {
display:block;
}
.heading {
font-size:25px;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:18px;
} 
.headline {
font-size:1rem;
text-align:center;
margin:auto;
}
.minimalistborder {
border:1px solid #555;
outline:0px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:10px 10px 5px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:12px auto 9px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
.whatsoeverborder {
border:1px solid #555;
border-radius:6px;
margin:26px auto 26px;
padding:26px 8px 0px;
}
.whatsoeverheading {
font-family:Montserrat-ExtraLightItalic;
font-size: 17px;
line-height:1.4;
}
.whatsoevercaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:10px auto 10px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:6px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
font-size:0.85rem;
line-height:1.6;
text-align:justify;
padding-top:10px;
margin-bottom:0px;
color:white;
}
.figcaptionborder {
border: 1px solid #555;
padding:8px;
border-radius:12px;
margin-top:12px;
}
.figcaption-overlay {
position:relative;
text-align:center;
font-size:16px;
border-width:0px;
padding-top:0px;
padding-bottom:10px;
margin:0px auto 15px;
}
.mariaanthonykatsaris{
margin-left:auto;
margin-right:auto;
}
.stevenkatsaris {
margin-left:auto;
margin-right:auto;
}
.slidermobilepage {
font-weight: bold;
font-size: 9pt;
margin: auto;
text-align: center;
color: rgba(255,255,255,1.00);
font-style: italic;
padding-bottom: 6px;
padding-top: 6px;
text-shadow: 1px 1px 2px #000000;
}
.slidercomputerpage {
font-weight: bold;
font-size: 10pt;
margin: auto;
text-align: center;
color: rgba(255,255,255,1.00);
display: none;
font-style: italic;
padding-top: 6px;
padding-bottom: 6px;
text-shadow: 1px 1px 2px #000000;
}
.katsarisplaque {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:10px;
gap:10px;
background-image: linear-gradient(#1a0000,#000,#000,#1a0000);
border:1px solid #555;
border-radius:6px;
margin:auto auto 50px;
}
.audiophoto {
border:1px solid #555;
border-radius:4px;
}
.audiotitle {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:5px 0px 5px;
text-align:center;
margin:5px auto 5px;
line-height:1.5;
}
.mariakatsarisaudio {
margin-left:auto;
margin-right:auto;
}
.mariakatsaristeen {
margin-left:auto;
margin-right:auto;
}
.eugenereed {
margin-left: auto;
margin-right: auto;
}
.eugenereedright {
margin-left: auto;
margin-right: auto;
}
.sylviaralyareinsch {
margin-left: auto;
margin-right: auto;
}
.newspaperquote {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
line-height:1.6;
}
.pollyklaasreed {
margin-left: auto;
margin-right: auto;
}
.pollyklaas {
margin-left: auto;
margin-right: auto;
}
.pkxmas {
margin-left: auto;
margin-right: auto;
}
.holocaustreed {
margin-left: auto;
margin-right: auto;
}
.georgiamosesyounger {
margin-left: auto;
margin-right: auto;
}
.georgiamoses {
margin-left: auto;
margin-right: auto;
}
.georgiamosesyounger {
margin-left: auto;
margin-right: auto;
}
.deathtapeaudio {
margin-left:auto;
margin-right:auto;
}
.mySlides {
max-width:100%;
max-height:100%;
padding-top:0px;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}
/*Anchors*/
#deathtape {
scroll-margin-top:10px;
}
#nbcnewsinterview {
scroll-margin-top:10px;
}

/* Tablet Layout or Landscape Rotated Phones: 701px to 835px - Ipad Pro 11-inch
down to 600px wide Kindle Fires and Samsung Galaxy Tab 2. These are 600px
wide but I take it to 701 to be on the safe side. Most of my images
are 700px max so stop here.
Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 701px) {

/* Responsive flex two-column layout over 701px */
.flex-container {
display: flex;
flex-direction: row;
align-items:center;
/*Don't change padding below to margin.
Affects Polly Klaas Lead*/
padding:10px;
gap:10px;
border:1px solid #555;
}
.title {
display:block;
padding:0px 0px 5px;
}
.headings {
font-family:Cinzel-Regular;
font-size:22px;
text-align:center;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
background-position:center;
background-size:cover;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.scrolldivider {
max-width:130px;
display:block;
margin-left:auto;
margin-right:auto;
}
.floralpagedivider {
max-width:200px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:23px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:23px;
margin-top:-8px;
}
.vivaldi {
font-family:VIVALDII;
font-size:30px;
margin-top:-8px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:42px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 17px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 1.03rem;
line-height:1.6;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:15px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.vivaldioutlined {
font-family:VIVALDII;
font-size:19px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.content {
display: block;
font-size:1.09rem;
padding: 15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:0px 0px 0px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
border-radius:10px;
}
.tableofcontents {
padding:6px;
}
blockquote {
position: relative;
/* background: #ddd; */
}
blockquote:before {
position: absolute;
content: open-quote; 
font-size: 3.25em;
margin-left: -0.5em;
margin-top: -0.3em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#999;
}
blockquote:after {
position: absolute;
content: close-quote;
font-size: 3.25em;
bottom: 0;
right: 0;
margin-right: -0.5em;
margin-bottom: -0.8em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#999;
}
blockquote p {
display: inline;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.heading {
font-size:28px;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:17.7px;
} 
.headline {
font-size:1.09rem;
text-align:center;
margin:-5px auto auto;
}
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:12px 12px 12px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:12px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
/*maxwidth changed for
each photo inline*/
.whatsoeverborder {
border:1px double #555;
outline:1px solid #555;
outline-offset:5px;
border-radius:0px;
margin:50px auto 50px;
padding:20px 20px 20px;
}
.whatsoeverheading {
font-family:Montserrat-ExtraLightItalic;
font-size: 17px;
line-height:1.4;
}
.whatsoevercaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:20px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
font-size: 0.95rem;
line-height:1.4;
text-align:justify;
padding-top:10px;
margin-bottom:5px;
color:white;
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaption-overlay {
position:relative;
text-align:center;
font-size:18px;
border:1px solid #555;
padding-bottom:10px;
margin:26px auto 26px;
}
.mariaanthonykatsaris{
max-width:850px;
margin-left:auto;
margin-right:auto;
}
.stevenkatsaris {
max-width: 500px;
float:left;
margin-right:15px;
margin-top:5px;
margin-bottom:5px;
border:0px solid #555;
border-radius:0px;
display:block;
}
.reichheader {
max-width:150px;
}
.starofdavidheaderleft {
max-width:50px;
padding-left:15px;
}
.starofdavidheaderright {
max-width:50px;
padding-right:15px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:15px auto 13px;
}
.reichtitle {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:43px;
}
.reichsubtitle {
font-family:Montserrat-ThinItalic;
font-size:14px;
}
.header {
text-align:center;
margin:-2px auto -2px;
}
.headerhr {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 0px 0px;
}
.headerhralways {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.reichresearchheader {
display:flex;
margin: 0px 0px 0px;
justify-content:center;
align-items:center;
margin:-5px auto 15px;
}
.reichresearchtitle {
font-family:ITCEDSCR;
font-size:2.2rem;
text-align:center;
margin:0px auto 0px;
}
.reichresearchsubtitle {
font-family:Montserrat-ExtraLight;
font-size:0.95rem;
text-align:center;
margin:0px auto 0px;
}
footer {
margin-top:auto;
margin-bottom:35px;
}
.reichfooterimg {
max-width:130px;
margin:0px auto 6px;
}
.reichtitlefootertxt {
text-align:center;
font-family:ITCEDSCR;
font-size:2.1rem;
}
.reichsubtitlefootertxt {
text-align:center;
font-size:0.95rem;
margin-bottom:6px;
}
.reichemailfootertxt {
text-align:center;
font-size:0.96rem;
margin-bottom:6px;
}
.reichcopyrightfootertxt {
text-align:center;
font-size:0.95rem;
}
.summary {
max-width:1000px;
margin:26px auto 15px;
text-align:justify;
line-height:2.0;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.slidermobilepage {
font-weight: bold;
font-size: 9pt;
margin: auto;
text-align: center;
color: rgba(255,255,255,1.00);
font-style: italic;
padding-bottom: 6px;
padding-top: 6px;
text-shadow: 1px 1px 2px #000000;
}
.slidercomputerpage {
font-weight: bold;
font-size: 10pt;
margin: auto;
text-align: center;
color: rgba(255,255,255,1.00);
display: none;
font-style: italic;
padding-top: 6px;
padding-bottom: 6px;
text-shadow: 1px 1px 2px #000000;
}
.katsarisplaque {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:15px;
gap:10px;
background-image: linear-gradient(#1a0000,#000,#000,#1a0000);
border:1px solid #555;
border-radius:12px;
max-width:700px;
margin:auto auto 80px;
}
.audiophoto {
border:1px solid #555;
border-radius:10px;
}
.audiotitle {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:5px 0px 5px;
text-align:center;
margin:5px auto 10px;
line-height:1.5;
}
.mariakatsarisaudio {
float:right;
margin-left:15px;
}
.mariakatsaristeen {
max-width:500px;
float:right;
margin-left:15px;
}
.eugenereed {
max-width: 450px;
float:left;
margin-right:15px;
}
.eugenereedright {
max-width: 450px;
float:right;
margin-left:15px;
}
.sylviaralyareinsch {
max-width: 450px;
float:left;
margin-right:15px;
}
.newspaperquote {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
line-height:1.6;
}
.pollyklaasreed {
max-width: 450px;
float:right;
margin-left:15px;
}
.pollyklaas {
max-width: 850px;
margin-left:auto;
margin-right:auto;
}
.pkxmas {
float:left;
max-width:500px;
margin-right:15px;
}
.holocaustreed {
max-width: 450px;
float:left;
margin-right:15px;
}
.georgiamoses {
max-width: 450px;
float:left;
margin-right:15px;
}
.georgiamosesyounger {
max-width: 450px;
float:right;
margin-left:15px;
}
.deathtapeaudio {
float:left;
margin-right:15px;
}
.mySlides {
max-width:100%;
max-height:100%;
padding-top:0px;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
/*Anchors*/
#deathtape {
scroll-margin-top:26px;
}
#nbcnewsinterview {
scroll-margin-top:26px;
}
}

/* 12.9 inch Ipad 1024x1366 Custom. This is just for 12-inch Ipad layouts holding
rotated mobile phones up to 1000px long into account. Inherits styles from: 
Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1001px) {

.headerhr {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.headerhralways {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.mariaanthonykatsaris{
max-width:700px;
float:left;
margin-right:15px;
}
.mariakatsaristeen {
max-width:600px;
float:right;
margin-left:15px;
}
.pollyklaas {
max-width:700px;
float:left;
margin-right:15px;
}
.pkxmas {
float:left;
max-width:700px;
margin-right:15px;
}
}

/* Desktop Layout: 1025px to a max of 1366px - Everything above Ipad Pro 12.9. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {

/* Responsive flex two-column layout over 835px */
.flex-container {
display: flex;
flex-direction: row;
align-items:center;
/*Don't change padding below to margin.
Affects Polly Klaas Lead*/
padding:10px;
gap:10px;
border-radius:12px;
border:1px solid #555;
}
.title {
display:block;
padding:0px 0px 5px;
}
.headings {
font-family:Cinzel-Regular;
font-size:17px;
text-align:center;
}
.photolayout {
display:flex;
flex-wrap:wrap;
border:1px solid #555;
border-radius:12px;
}
.border-radius-top-left {
border-radius:12px 0px 0px 0px;
}
.border-radius-top-right {
border-radius:0px 12px 0px 0px;
}
.border-radius-bottom-left {
border-radius:0px 0px 0px 12px;
}
.border-radius-bottom-right {
border-radius:0px 0px 12px 0px;
}
.scrolldivider {
max-width:130px;
display:block;
margin-left:auto;
margin-right:auto;
}
.floralpagedivider {
max-width:230px;
display:block;
margin-left:auto;
margin-right:auto;
}
.trajan {
font-family:TrajanPro3-Regular;
font-size:23px;
}
.cinzel {
font-family:Cinzel-Regular;
font-size:23px;
margin-top:-8px;
}
.vivaldi {
font-family:VIVALDII;
font-size:30px;
margin-top:-8px;
}
.edwardian {
font-family:ITCEDSCR;
font-size:42px;
}
.Montserrat-ThinItalic {
font-family:Montserrat-ThinItalic;
font-size: 17px;
line-height:1.5;
}
.Montserrat-ExtraLightItalic {
font-family:Montserrat-ExtraLightItalic;
font-size: 1.03rem;
line-height:1.6;
}
.cinzeloutlined {
font-family:Cinzel-Regular;
font-size:16px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.vivaldioutlined {
font-family:VIVALDII;
font-size:20px;
margin:-5px auto 0px;
padding:10px 10px 0px;
}
.content {
display:block;
font-size:1.09rem;
padding: 15px;
}
.border {
min-height:100vh;
display:flex;
flex-direction:column;
margin:15px 15px 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
border-radius:0px;
}
.tableofcontents {
padding: 15px;
}
blockquote {
position: relative;
/* background: #ddd; */
}
blockquote:before {
position: absolute;
content: open-quote; 
font-size: 3.25em;
margin-left: -0.5em;
margin-top: -0.3em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#888;
}
blockquote:after {
position: absolute;
content: close-quote;
font-size: 3.25em;
bottom: 0;
right: 0;
margin-right: -0.5em;
margin-bottom: -0.8em;
font-family: Georgia, Times, "Times New Roman", serif;
color:#888;
}
blockquote p {
display: inline;
}
.comptabvisible {
display:block;
}
.phonevisible {
display:none;
}
.heading {
font-size:30px;
}
.toptitle {
font-family:Cinzel-Regular;
font-size:20px;
} 
.headline {
font-size:1.2rem;
text-align:center;
margin:-5px auto auto;
}
/*maxwidth changed for
each photo inline*/
.minimalistborder {
border:1px solid #555;
border-radius:12px;
margin:40px auto 40px;
padding:15px 15px 15px;
}
.minimalistcaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:15px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
/*maxwidth changed for
each photo inline*/
.whatsoeverborder {
border:1px solid #555;
outline:1px solid #555;
outline-offset:5px;
border-radius:0px;
margin:50px auto 50px;
padding:20px 20px 20px;
}
.whatsoeverheading {
font-family:Montserrat-ExtraLightItalic;
font-size: 17px;
line-height:1.4;
}
.whatsoevercaption {
font-family:Montserrat-ExtraLightItalic;
font-size: 16px;
margin:20px auto 0px;
border:1px solid #555;
background:rgba(0,0,0,0.80);
padding:10px;
border-radius:12px;
line-height:1.4;
}
figcaption {
font-family:Montserrat-ThinItalic;
text-align:justify;
font-size: 0.95rem;
line-height:1.4;
padding-top:10px;
margin-bottom:5px;
color:white;	
}
.figcaptionborder {
border-width:0px;
padding:0px;
border-radius:0px;
}
.figcaption-overlay {
position:relative;
text-align:center;
font-size:18px;
border:1px solid #555;
padding-bottom:10px;
margin:26px auto 26px;
}
.mariaanthonykatsaris{
max-width:850px;
float:left;
margin-right:15px;
}
.stevenkatsaris {
max-width: 700px;
float:left;
margin-right:15px;
margin-top:5px;
margin-bottom:0px;
border:0px solid #555;
border-radius:0px;
display:block;
}
.christamartinamos {
max-width: 950px;
margin:0px auto 0px;
display:block;
}
.reichheader {
max-width:200px;
}
.starofdavidheaderleft {
max-width:65px;
padding-left:15px;
}
.starofdavidheaderright {
max-width:65px;
padding-right:15px;
}
.reichtitle {
font-family:ITCEDSCR;
color:#EFEFEF;
font-size:50px;
}
.reichsubtitle {
font-family:Montserrat-ThinItalic;
font-size:15px;
}
.titlelines {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:8px 0px 8px;
margin:15px auto 13px;
}
.header {
text-align:center;
margin:-8px auto -8px;
}
.headerhr {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.headerhralways {
margin:15px auto 15px;
border:1px solid #555;
border-width:0px 0px 1px 0px;
}
.reichresearchheader {
display:flex;
margin: 0px 0px 0px;
justify-content:center;
align-items:center;
margin:-5px auto 15px;
}
.reichresearchtitle {
font-family:ITCEDSCR;
font-size:2.5rem;
text-align:center;
margin:0px auto 0px;
}
.reichresearchsubtitle {
font-family:Montserrat-ExtraLight;
font-size:1.0rem;
text-align:center;
margin:0px auto 0px;
}
footer {
margin-top:auto;
margin-bottom:35px;
}
.reichfooterimg {
max-width:130px;
margin:0px auto 6px;
}
.reichtitlefootertxt {
text-align:center;
font-family:ITCEDSCR;
font-size:2.1rem;
}
.reichsubtitlefootertxt {
text-align:center;
font-size:0.95rem;
margin-bottom:6px;
}
.reichemailfootertxt {
text-align:center;
font-size:0.96rem;
margin-bottom:6px;
}
.reichcopyrightfootertxt {
text-align:center;
font-size:0.95rem;
}
.summary {
max-width:1000px;
margin:26px auto 15px;
text-align:justify;
line-height:2.0;
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
}
.slidermobilepage {
font-weight: bold;
font-size: 10pt;
margin: auto;
text-align: center;
color: rgba(255,255,255,1.00);
display: none;
font-style: italic;
padding-bottom: 6px;
padding-top: 6px;
text-shadow: 1px 1px 2px #000000;
}
.slidercomputerpage {
display: block;
align-items: center;
font-weight: bold;
font-size: 10pt;
text-align: center;
color: rgba(255,255,255,1.00);
font-style: italic;
padding-top: 6px;
padding-bottom: 6px;
text-shadow: 1px 1px 2px #000000;
}
.katsarisplaque {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:15px;
gap:10px;
background-image: linear-gradient(#1a0000,#000,#000,#1a0000);
border:1px solid #555;
border-radius:12px;
max-width:700px;
margin:auto auto 80px;
}
.audiophoto {
border:1px solid #555;
border-radius:10px;
}
.audiotitle {
display:inline-block;
border:1px solid #555;
border-width:1px 0px 1px 0px;
padding:5px 0px 5px;
text-align:center;
margin:5px auto 10px;
line-height:1.5;
}
.mariakatsarisaudio {
max-width:440px;
}
.mariakatsaristeen {
max-width:600px;
float:right;
margin-left:15px;
}
.eugenereed {
max-width: 650px;
float:left;
margin-right:15px;
}
.eugenereedright {
max-width: 650px;
float:right;
margin-left:15px;
}
.sylviaralyareinsch {
max-width: 655px;
float:left;
margin-right:15px;
}
.newspaperquote {
font-family:Montserrat-ThinItalic;
font-size:1.0rem;
line-height:1.6;
}
.pollyklaasreed {
max-width: 650px;
float:right;
margin-left:15px;
}
.pollyklaas {
max-width:800px;
float:left;
margin-right:15px;
}
.pkxmas {
float:left;
max-width:800px;
margin-right:15px;
}
.holocaustreed {
max-width: 650px;
float:left;
margin-right:15px;
}
.georgiamoses {
max-width: 600px;
float:left;
margin-right:15px;
}
.georgiamosesyounger {
max-width: 500px;
float:right;
margin-left:15px;
}
.mariakatsaristeentablet {
display:none;
}
.mariakatsaristeenmobile {
display:none;
}
.deathtapeaudio {
float:left;
margin-right:15px;
}
.mySlides {
max-width: 100%;
max-height: 100%;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
/*Anchors*/
#deathtape {
scroll-margin-top:26px;
}
#nbcnewsinterview {
scroll-margin-top:26px;
}
}

/* Desktop Layout: 1367px and above. This is here to place the white outline around the content with 15px margin top and bottom for screens above 1366px. Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1367px) {

.border {
min-height:100vh;
margin:15px auto 15px;
border:1px solid #555;
border-width:1px 1px 1px 1px;
max-width:1333px;
}
footer {
margin-top:auto;
margin-bottom:35px;
}
.content {
display:block;
font-size:1.09rem;
padding: 15px;
}
}
